{
  "extends": ["wesbos"],
  "rules": {
    "no-use-before-define": 0,
    "no-console": 2,
    "prettier/prettier": ["error"],
    "react/prop-types": 0,
    "react/destructuring-assignment": [
      true,
      "always",
      {
        "ignoreClassFields": true
      }
    ]
  }
}
